@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vmax;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-flow: column;
  width: inherit;
  min-height: inherit;
  max-width: 70rem;
  margin: auto;
}

.wrapper__child {
  flex: 1;
  flex-flow: wrap;
  align-content: flex-start;
}

.container--flex {
  display: flex;
}

.flex--column {
  flex-flow: column;
}

.navbar {
  flex: 1;
  flex-basis: 15rem;
  /* flex-basis makes the divs change from 2 column layout to 1 by using the wrap */
  min-height: 13em;
}

.navbar__wrapper {
  margin: 0 1.5em;
}

.nav-list {
  display: flex;
  flex-flow: column;
  list-style: none;
  max-height: 7em;
  overflow: auto;
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.2em;
  border: 1px solid black;
}

.nav-link a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: black;
}

.main {
  flex: 1;
  flex-basis: 35rem;
}

@media screen and (min-width: 769px) {
  .navbar__wrapper {
    /* navbar will stay at desktop size */
    position: sticky;
    top: 0;
  }
}